@import './markdown.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-blue-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}


@layer components{
  .btn {
    @apply px-4 py-2 text-center rounded-2xl text-lg
      bg-blue-500 text-white cursor-pointer
      hover:bg-blue-600 hover:opacity-95 transition-all
      disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
  }
  .btn-secondary {
    @apply px-4 py-2 text-center rounded-2xl text-lg
    text-blue-500 cursor-pointer
      hover:bg-blue-400 hover:opacity-80 hover:text-white border border-blue-500 transition-all
      disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
  }
  
  .icon-btn {
    @apply inline-block cursor-pointer select-none
      opacity-75 transition duration-200 ease-in-out
      hover:opacity-100 hover:text-blue-600;
    font-size: 0.9em;
  }
  .input{
    @apply border-b border-blue-600 border-opacity-30	 border-t-0 border-l-0 border-r-0 
    text-blue-800 text-lg placeholder-gray-300 ring-0
    transition-all focus:outline-none focus:ring-0 focus:border-blue-600 focus:border-opacity-100 
  }
  .input-icon {
    @apply absolute inset-y-1/3  text-gray-400 w-4 h-4 transition-colors
  }
  
  }